//$body-bg: #000;
$theme-colors: (
  "primary": rgba(74,184,131,0.30),
  "light": rgba(152, 211, 183, 0.726),
  "secondary": #58A480,
  "dark": #373A3C 
);

$body-bg: rgb(255, 255, 255); 
$body-color: rgb(32, 32, 32); 
$container-color: theme-color("light");
$border-radius: 1px; 
$brand-primary:theme-color("secondary");
// $brand-success: #11cc11; 
// $brand-info: cyan; 
// $brand-warning: #334455; 
// $brand-danger: #cc1111; 
$font-family-sans-serif: "Avenir Next", sans-serif;
$fancy-font: "zapfino";

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.container {
   padding: 20px; 
   background-color: white;
   border-radius: 9px;
   margin: 20px auto;
   max-width: 700px;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}
ul {
  padding-left: 0;
}

.green-container {
  @extend .container;
  background-color: theme-color("light");
  box-shadow: 7px 7px 13px 0 rgba(161,161,161,0.50);
} 

.btn-primary {
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0 #4AB883;
    border-radius: 4px;
    font-family: AvenirNext-Regular;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 21px;
    position: relative;
    cursor: pointer;
}

.dropdown {
  background: #FFFFFF;
}

.dropdown-toggle {
  background: #FFFFFF;
  border-radius: 4px;
  font-family: AvenirNext-Regular;
    font-size: 16px;
    color: #000000;
    position: relative;
    cursor: pointer;
}

.main-heading {
  @extend .h1;
  font-family: zapfino;
}

.answer {
  border-radius: 5px;
  background-color: theme-color("secondary");
  position: relative;
  padding: .5em;
}

.avatar-container {
  display: flex;
  align-items: center;
  min-height: 100%;  
    min-height: 100%; 
}
.avatar {
  display: inline-block;
  border-radius: 50%;
}
