.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 7px 7px 13px 0 rgba(161,161,161,0.50);
  border-radius: 9px;
}

.page-container

.btn {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 3px 4px 8px 0 rgba(0,0,0,0.21);
  border-radius: 4px;
  font-family: AvenirNext-Regular;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 21px;
  position: relative;
  cursor: pointer;
}

